<head>
  <title>cookingwith</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/bootstrap-datetimepicker/css/datetimepicker.css">
  <script
    src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js">
  </script>

</head>

<body>
  <div class="container">
    {{> hello}}
  </div>
</body>

<template name="polls">
  {{#each polls}}
    <div><a href="{{href}}">{{title}}</a></div>
  {{/each}}
</template>

<template name="hello">
  {{> poll_title}}
  {{#if isStatePollsList}}
    {{> polls}}
  {{else}}
    {{> refill_time}}
    <p>Your votes: {{my_votes}}
      <input
        class="buy_votes"
        type="button" value="Buy 25 votes" /></p>
    {{> deadline}}
    {{#each poll_options}}
      {{> poll_option }}
    {{/each}}

    {{> poll_option_new}}
    {{> poll_settings}}
  {{/if}}
</template>

<template name="poll_title">
  <div class="poll_title">
    {{#if state_edit}}
      <input value="{{title}}" type="text" />
    {{else}}
      <h1 class="title">{{title}}</h1>
    {{/if}}
  </div>
</template>

<template name="poll_option_new">
  {{#if isStateReady}}
    <a href="#" class="new btn btn-large btn-block btn-primary">
      Add your own (10 votes)</a>
  {{/if}}
  {{#if isStateAdding}}
    <input type="text" class="title" />
  {{/if}}
</template>

<template name="refill_time">
  {{#if is_visible}}
    <h1>Time until refill: {{time_until_refill}}</h1>
  {{/if}}
</template>

<template name="poll_option">
  <div class="row poll_option" >
    <div class="span1 votes_container">
      <p class="votes_count">{{votes_count}}</p>
      <a href="#" class="vote btn btn-mini btn-block {{vote_button_class}}">vote</a>
    </div>
    <div class="span5 title">
       {{title}}
    </div>
  </div>
</template>

<template name="deadline">
  {{#if passed}}
    This poll has closed!
  {{else}}
    Poll ends in: {{clock}}
  {{/if}}
</template>

<template name="poll_settings">
  {{#if isVisible}}

    <div class="row">
      <h1>Poll settings</h1>
    </div>
    <div class="poll_settings row">
      <label for="date-picker">End date</label>
      <input size="16" type="text" readonly class="form_datetime">
    </div>
  {{/if}}
</template>
